workflows/rabbit-r1-notion-v0.workflow.json
{
  "name": "Rabbit R1 Mind Drop V0",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n\nMind Drop creado en Notion.\n\n- Page: https://app.notion.com/p/378c5593cd9981d78480e7b0b6b02992\n- Database: https://app.notion.com/p/a3251e4bbb7f4f0bb70e81ffdd16eb0e\n- Data source: collection://c8b9155c-dc30-4f1b-88fe-8ac8af2f03ce\n\nPendiente en n8n:\n1. Configura la credencial Notion en `Create Mind Drop row`.\n2. Sustituye `REPLACE_WITH_OPENAI_API_KEY` en `OpenAI Whisper transcription` y `AI classify drop` por una API key de OpenAI.\n3. Activa el workflow.\n\nEl token Rabbit se valida en `Validate Rabbit token` y no debe ser la API key de n8n."
      },
      "id": "ea98f6e2-e0f4-4f2f-9d3e-9a6d9b773f79",
      "name": "Setup note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rabbit-r1-notion-v0",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90bd8d6b-9cf2-4a4a-b1a2-f8306fdb9398",
      "name": "Rabbit R1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -620,
        120
      ],
      "webhookId": "rabbit-r1-notion-v0"
    },
    {
      "parameters": {
        "jsCode": "const expectedToken = 'REPLACE_WITH_RABBIT_TOKEN';\n\nfunction parsePayload(input) {\n  const direct = input.payload ?? input.body?.payload ?? input.body ?? input;\n\n  if (typeof direct === 'string') {\n    try {\n      return JSON.parse(direct);\n    } catch (error) {\n      return { message: direct };\n    }\n  }\n\n  return direct || {};\n}\n\nconst payload = parsePayload($json);\nconst token = String(payload.token || payload.apiKey || payload.key || '');\nconst tokenConfigured = expectedToken && !expectedToken.startsWith('REPLACE_WITH_');\nconst valid = Boolean(tokenConfigured && token === expectedToken);\nconst message = String(payload.message || payload.text || payload.transcript || '').trim();\nconst audioBase64 = String(payload.audioBase64 || payload.audio || '').trim();\nconst imageBase64 = String(payload.imageBase64 || payload.image || payload.photoBase64 || '').trim();\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    valid,\n    revoked: !valid,\n    status: valid ? 'ok' : 'revoked',\n    reply: valid ? 'Procesando Mind Drop.' : 'Token revocado o invalido.',\n    message,\n    inputMode: String(payload.inputMode || (audioBase64 ? 'audio' : imageBase64 ? 'image' : 'text')),\n    audioBase64,\n    audioMimeType: String(payload.audioMimeType || 'audio/webm'),\n    audioName: String(payload.audioName || 'rabbit-r1.webm'),\n    imageBase64,\n    imageMimeType: String(payload.imageMimeType || 'image/jpeg'),\n    imageName: String(payload.imageName || 'rabbit-r1-photo.jpg'),\n    lang: String(payload.lang || payload.language || 'es-ES'),\n    sessionId: String(payload.sessionId || ''),\n    source: String(payload.source || 'rabbit-r1-creation'),\n    sentAt: payload.sentAt || now,\n    receivedAt: now\n  }\n}];"
      },
      "id": "0c53caf3-dbb8-4111-9a5e-d3bfce7ca338",
      "name": "Validate Rabbit token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ed330f7-c09f-4f67-9859-f5893e79a7f2",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "804ed224-f9f3-48de-b7c6-1ea2845d958f",
      "name": "Token valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const openAiApiKey = 'REPLACE_WITH_OPENAI_API_KEY';\nconst allowedAreas = ['Salud', 'Trabajo', 'Finanzas', 'Relaciones', 'Casa', 'Aprendizaje', 'Ideas', 'Personal', 'Foto'];\nconst message = String($json.message || '').trim();\nconst imageBase64 = String($json.imageBase64 || '').replace(/^data:.*?;base64,/, '').trim();\nconst imageMimeType = String($json.imageMimeType || 'image/jpeg').split(';')[0].trim() || 'image/jpeg';\n\nfunction withoutMedia(input) {\n  const { audioBase64, imageBase64, ...rest } = input;\n  return rest;\n}\n\nfunction cleanArea(value) {\n  const normalized = String(value || '').trim();\n  return allowedAreas.includes(normalized) ? normalized : 'Personal';\n}\n\nfunction fallback(reason = '') {\n  const title = message ? message.slice(0, 80) : imageBase64 ? 'Foto Mind Drop' : 'Mind Drop';\n  const transcriptionNote = $json.transcriptionError ? `Error de transcripcion: ${$json.transcriptionError}` : '';\n  return [{\n    json: {\n      ...withoutMedia($json),\n      titulo: title,\n      area: imageBase64 ? 'Foto' : 'Personal',\n      observaciones: message || transcriptionNote || (imageBase64 ? 'Foto recibida sin analisis.' : 'Sin mensaje recibido.'),\n      aiModel: 'fallback',\n      aiFallbackReason: reason || $json.transcriptionError || ''\n    }\n  }];\n}\n\nif (!message && !imageBase64) return fallback('empty_message');\nif (!openAiApiKey || openAiApiKey.startsWith('REPLACE_WITH_')) return fallback('missing_openai_key');\n\nconst system = [\n  'Eres un clasificador de capturas personales llamado Mind Drop.',\n  'Recibes una nota breve o una foto en espanol y devuelves solo JSON valido.',\n  'Campos obligatorios: titulo, area, observaciones.',\n  `area debe ser exactamente una de: ${allowedAreas.join(', ')}.`,\n  'Si hay foto, usa siempre el area Foto.',\n  'titulo: maximo 80 caracteres, claro y util como titulo de pagina.',\n  'observaciones: si hay texto, reescribelo de forma clara y accionable en 1-3 frases. Si hay foto, describe lo importante y por que podria guardarse.',\n  'Si hay duda entre areas, usa Personal. Si es una idea suelta, usa Ideas.'\n].join(' ');\n\nconst userContent = imageBase64\n  ? [\n      { type: 'text', text: message || 'Analiza esta foto para guardarla como Mind Drop. Devuelve titulo, area y observaciones.' },\n      { type: 'image_url', image_url: { url: `data:${imageMimeType};base64,${imageBase64}` } }\n    ]\n  : message;\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.openai.com/v1/chat/completions',\n    headers: {\n      'Authorization': `Bearer ${openAiApiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: {\n      model: imageBase64 ? 'gpt-4.1-mini' : 'gpt-4.1-nano',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: userContent }\n      ]\n    },\n    json: true\n  });\n\n  const content = data.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  const titulo = String(parsed.titulo || parsed.title || message).trim().slice(0, 80) || 'Mind Drop';\n  const area = imageBase64 ? 'Foto' : cleanArea(parsed.area);\n  const observaciones = String(parsed.observaciones || parsed.notes || parsed.observation || message).trim();\n\n  return [{\n    json: {\n      ...withoutMedia($json),\n      titulo,\n      area,\n      observaciones,\n      aiModel: imageBase64 ? 'gpt-4.1-mini' : 'gpt-4.1-nano'\n    }\n  }];\n} catch (error) {\n  return fallback(error.message || 'openai_error');\n}"
      },
      "id": "6d0be63b-d7cd-4f45-bf65-df941d43038a",
      "name": "AI classify drop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        32
      ]
    },
    {
      "parameters": {
        "title": "={{ $json.titulo }}",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "a3251e4bbb7f4f0bb70e81ffdd16eb0e"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Titulo|title",
              "title": "={{ $json.titulo }}"
            },
            {
              "key": "Area|select",
              "selectValue": "={{ $json.area }}"
            },
            {
              "key": "Observaciones|rich_text",
              "textContent": "={{ $json.observaciones }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbcaee5d-ea46-4e43-b59d-74243783ba84",
      "name": "Create Mind Drop row",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1408,
        32
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const failed = Boolean($json.transcriptionError);\nlet created = {};\nlet classified = {};\nlet tokenPayload = {};\ntry { created = $('Create Mind Drop row').first().json || {}; } catch (error) {}\ntry { classified = $('AI classify drop').first().json || {}; } catch (error) {}\ntry { tokenPayload = $('Validate Rabbit token').first().json || {}; } catch (error) {}\n\nconst title = created.Titulo || created.titulo || classified.titulo || $json.Titulo || $json.titulo || 'nuevo drop';\nconst transcript = String(classified.transcript || classified.message || $json.transcript || $json.message || '').trim();\nconst notionPageId = created.id || $json.notionPageId || $json.id || '';\nconst hasInputPhoto = Boolean(tokenPayload.imageBase64);\nconst photoError = String($json.error?.message || $json.photoUploadError || '').trim();\nconst photoSaved = Boolean(hasInputPhoto && !photoError && notionPageId);\n\nreturn [{\n  json: {\n    ok: !failed,\n    status: failed ? 'transcription_error' : 'ok',\n    reply: failed\n      ? `No pude transcribir el audio: ${$json.transcriptionError}`\n      : `Guardado en Mind Drop: ${title}${photoSaved ? ' con foto.' : '.'}`,\n    transcript,\n    notionPageId,\n    area: created.Area || created.area || classified.area || $json.Area || $json.area || '',\n    photoSaved,\n    photoError\n  }\n}];"
      },
      "id": "5a23cf31-a74e-41c5-9c32-6207b2bb7af3",
      "name": "Build OK response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        32
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "4688cb98-49f6-42c5-a84c-8ee2bca2606d",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3200,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    revoked: true,\n    status: 'revoked',\n    reply: 'Token revocado o invalido.'\n  }\n}];"
      },
      "id": "de8a7a05-931e-45cb-8cef-4a5b220d95b5",
      "name": "Build Revoked response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 403
        }
      },
      "id": "4f8d0560-18ef-4599-861e-b4fbbdb3081c",
      "name": "Respond Revoked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8edb2c7-17d2-443f-8e22-a74775fd68db",
              "leftValue": "={{ Boolean($json.audioBase64 && !$json.message) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b91fbb2f-e84d-4784-9c20-b839d05dd083",
      "name": "Needs Whisper?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "function withoutAudio(input) {\n  const { audioBase64, ...rest } = input;\n  return rest;\n}\n\nfunction extensionFor(mimeType) {\n  const clean = String(mimeType || '').split(';')[0].trim().toLowerCase();\n  if (clean.includes('mp4') || clean.includes('m4a')) return 'm4a';\n  if (clean.includes('ogg')) return 'ogg';\n  if (clean.includes('wav')) return 'wav';\n  if (clean.includes('mpeg') || clean.includes('mp3')) return 'mp3';\n  return 'webm';\n}\n\nconst base64 = String($json.audioBase64 || '').replace(/^data:.*?;base64,/, '');\nconst rawMimeType = String($json.audioMimeType || 'audio/webm');\nconst mimeType = rawMimeType.split(';')[0].trim() || 'audio/webm';\nconst extension = extensionFor(mimeType);\nconst fileName = String($json.audioName || `rabbit-r1.${extension}`).replace(/[^a-z0-9._-]/gi, '_');\nconst safeName = fileName.includes('.') ? fileName : `rabbit-r1.${extension}`;\n\nif (!base64) {\n  return [{\n    json: {\n      ...withoutAudio($json),\n      message: '',\n      transcript: '',\n      transcriptionError: 'empty_audio',\n      transcriptionModel: 'whisper-1'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...withoutAudio($json),\n    message: '',\n    transcript: '',\n    transcriptionModel: 'whisper-1'\n  },\n  binary: {\n    audio: {\n      data: base64,\n      mimeType,\n      fileName: safeName,\n      fileExtension: extension\n    }\n  }\n}];"
      },
      "id": "c9ed262d-0f9f-45fc-9f31-31df199be2cc",
      "name": "Prepare audio binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "={{ ($json.lang || 'es').split('-')[0] }}"
            },
            {
              "name": "response_format",
              "value": "json"
            },
            {
              "name": "temperature",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "9a2807d8-e72e-4cc2-9caf-e42ba7afbc7a",
      "name": "OpenAI Whisper transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const transcript = String($json.text || $json.transcript || '').trim();\nconst errorMessage = $json.error?.message || $json.message || '';\n\nif (!transcript) {\n  return [{\n    json: {\n      ...$json,\n      message: '',\n      transcript: '',\n      transcriptionError: errorMessage || 'empty_transcript',\n      transcriptionModel: 'whisper-1'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    message: transcript,\n    transcript,\n    transcriptionModel: 'whisper-1'\n  }\n}];"
      },
      "id": "2d1948a2-cda3-4075-bd5a-f6c298f40463",
      "name": "Normalize Whisper transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df0fd9f7-606e-4635-a82c-f5e529d83e52",
              "leftValue": "={{ Boolean($('Validate Rabbit token').first().json.imageBase64) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8e40d93-d885-43da-83d5-d7514ed21299",
      "name": "Has photo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "let source = {};\ntry { source = $('Validate Rabbit token').first().json || {}; } catch (error) {}\n\nfunction extensionFor(mimeType) {\n  const clean = String(mimeType || '').split(';')[0].trim().toLowerCase();\n  if (clean.includes('png')) return 'png';\n  if (clean.includes('gif')) return 'gif';\n  if (clean.includes('webp')) return 'webp';\n  return 'jpg';\n}\n\nconst rawBase64 = String(source.imageBase64 || '').replace(/^data:.*?;base64,/, '').trim();\nconst notionPageId = String($json.id || $json.pageId || '').trim();\nconst mimeType = String(source.imageMimeType || 'image/jpeg').split(';')[0].trim() || 'image/jpeg';\nconst extension = extensionFor(mimeType);\nconst safeName = String(source.imageName || `rabbit-r1-photo.${extension}`).replace(/[^a-z0-9._-]/gi, '_');\nconst fileName = safeName.includes('.') ? safeName : `rabbit-r1-photo.${extension}`;\n\nif (!rawBase64 || !notionPageId) {\n  return [{\n    json: {\n      ...$json,\n      notionPageId,\n      hasPhoto: false,\n      photoUploadError: rawBase64 ? 'missing_notion_page_id' : ''\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    notionPageId,\n    hasPhoto: true,\n    imageMimeType: mimeType,\n    imageName: fileName\n  },\n  binary: {\n    photo: {\n      data: rawBase64,\n      mimeType,\n      fileName,\n      fileExtension: extension\n    }\n  }\n}];"
      },
      "id": "01dd2f0d-7213-4f1f-bb22-8f546e92bf39",
      "name": "Prepare Notion photo binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/file_uploads",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2026-03-11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "c0eb81c3-2a5f-4304-b107-3b1a01aab79e",
      "name": "Create Notion file upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        -144
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let prepared = { json: {}, binary: {} };\ntry { prepared = $('Prepare Notion photo binary').first() || prepared; } catch (error) {}\n\nreturn [{\n  json: {\n    ...prepared.json,\n    fileUploadId: $json.id || '',\n    uploadUrl: $json.upload_url || '',\n    fileUploadStatus: $json.status || '',\n    fileUploadError: $json.error?.message || ''\n  },\n  binary: prepared.binary || {}\n}];"
      },
      "id": "cb5d2560-e755-4a35-9b1b-dba43978a86d",
      "name": "Merge Notion upload context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.uploadUrl || `https://api.notion.com/v1/file_uploads/${$json.fileUploadId}/send` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2026-03-11"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "photo"
            }
          ]
        },
        "options": {}
      },
      "id": "2d0defb2-2b16-4804-8950-d2685c5be9b42",
      "name": "Send Notion file upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        -144
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ `https://api.notion.com/v1/blocks/${$('Prepare Notion photo binary').first().json.notionPageId}/children` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2026-03-11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ children: [{ type: 'image', image: { caption: [], type: 'file_upload', file_upload: { id: $json.id || $('Merge Notion upload context').first().json.fileUploadId } } }] }) }}",
        "options": {}
      },
      "id": "5eddfabe-f073-4403-a283-bda83ded15dc",
      "name": "Append photo to Mind Drop page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        -144
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Rabbit R1 Webhook": {
      "main": [
        [
          {
            "node": "Validate Rabbit token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Rabbit token": {
      "main": [
        [
          {
            "node": "Token valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token valid?": {
      "main": [
        [
          {
            "node": "Needs Whisper?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Revoked response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI classify drop": {
      "main": [
        [
          {
            "node": "Create Mind Drop row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mind Drop row": {
      "main": [
        [
          {
            "node": "Has photo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Revoked response": {
      "main": [
        [
          {
            "node": "Respond Revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Whisper?": {
      "main": [
        [
          {
            "node": "Prepare audio binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI classify drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare audio binary": {
      "main": [
        [
          {
            "node": "OpenAI Whisper transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper transcription": {
      "main": [
        [
          {
            "node": "Normalize Whisper transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Whisper transcript": {
      "main": [
        [
          {
            "node": "AI classify drop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has photo?": {
      "main": [
        [
          {
            "node": "Prepare Notion photo binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build OK response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notion photo binary": {
      "main": [
        [
          {
            "node": "Create Notion file upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion file upload": {
      "main": [
        [
          {
            "node": "Merge Notion upload context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notion upload context": {
      "main": [
        [
          {
            "node": "Send Notion file upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notion file upload": {
      "main": [
        [
          {
            "node": "Append photo to Mind Drop page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append photo to Mind Drop page": {
      "main": [
        [
          {
            "node": "Build OK response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccecb2dd-d569-4190-a55b-ce1a43fff059",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
