workflows/rabbit-r1-notion-v0.workflow.json
{
  "name": "Rabbit R1 Mind Drop V0",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup\n\nMind Drop creado en Notion.\n\n- Page: https://app.notion.com/p/378c5593cd9981d78480e7b0b6b02992\n- Database: https://app.notion.com/p/a3251e4bbb7f4f0bb70e81ffdd16eb0e\n- Data source: collection://c8b9155c-dc30-4f1b-88fe-8ac8af2f03ce\n\nPendiente en n8n:\n1. Configura la credencial Notion en `Create Mind Drop row`.\n2. Sustituye `REPLACE_WITH_OPENAI_API_KEY` en `AI classify drop` por una API key de OpenAI.\n3. Activa el workflow.\n\nEl token Rabbit se valida en `Validate Rabbit token` y no debe ser la API key de n8n."
      },
      "id": "ea98f6e2-e0f4-4f2f-9d3e-9a6d9b773f79",
      "name": "Setup note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -620,
        -260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rabbit-r1-notion-v0",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "90bd8d6b-9cf2-4a4a-b1a2-f8306fdb9398",
      "name": "Rabbit R1 Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -620,
        120
      ],
      "webhookId": "rabbit-r1-notion-v0"
    },
    {
      "parameters": {
        "jsCode": "const expectedToken = 'REPLACE_WITH_RABBIT_TOKEN';\n\nfunction parsePayload(input) {\n  const direct = input.payload ?? input.body?.payload ?? input.body ?? input;\n\n  if (typeof direct === 'string') {\n    try {\n      return JSON.parse(direct);\n    } catch (error) {\n      return { message: direct };\n    }\n  }\n\n  return direct || {};\n}\n\nconst payload = parsePayload($json);\nconst token = String(payload.token || payload.apiKey || payload.key || '');\nconst tokenConfigured = expectedToken && !expectedToken.startsWith('REPLACE_WITH_');\nconst valid = Boolean(tokenConfigured && token === expectedToken);\nconst message = String(payload.message || payload.text || payload.transcript || '').trim();\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    valid,\n    revoked: !valid,\n    status: valid ? 'ok' : 'revoked',\n    reply: valid ? 'Procesando Mind Drop.' : 'Token revocado o invalido.',\n    message,\n    inputMode: String(payload.inputMode || 'text'),\n    sessionId: String(payload.sessionId || ''),\n    source: String(payload.source || 'rabbit-r1-creation'),\n    sentAt: payload.sentAt || now,\n    receivedAt: now\n  }\n}];"
      },
      "id": "0c53caf3-dbb8-4111-9a5e-d3bfce7ca338",
      "name": "Validate Rabbit token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ed330f7-c09f-4f67-9859-f5893e79a7f2",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "804ed224-f9f3-48de-b7c6-1ea2845d958f",
      "name": "Token valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const openAiApiKey = 'REPLACE_WITH_OPENAI_API_KEY';\nconst allowedAreas = ['Salud', 'Trabajo', 'Finanzas', 'Relaciones', 'Casa', 'Aprendizaje', 'Ideas', 'Personal'];\nconst message = String($json.message || '').trim();\n\nfunction cleanArea(value) {\n  const normalized = String(value || '').trim();\n  return allowedAreas.includes(normalized) ? normalized : 'Personal';\n}\n\nfunction fallback(reason = '') {\n  const title = message ? message.slice(0, 80) : 'Mind Drop';\n  return [{\n    json: {\n      ...$json,\n      titulo: title,\n      area: 'Personal',\n      observaciones: message || 'Sin mensaje recibido.',\n      aiModel: 'fallback',\n      aiFallbackReason: reason\n    }\n  }];\n}\n\nif (!message) return fallback('empty_message');\nif (!openAiApiKey || openAiApiKey.startsWith('REPLACE_WITH_')) return fallback('missing_openai_key');\n\nconst system = [\n  'Eres un clasificador de capturas personales llamado Mind Drop.',\n  'Recibes una nota breve en espanol y devuelves solo JSON valido.',\n  'Campos obligatorios: titulo, area, observaciones.',\n  `area debe ser exactamente una de: ${allowedAreas.join(', ')}.`,\n  'titulo: maximo 80 caracteres, claro y util como titulo de pagina.',\n  'observaciones: reescribe el mensaje de forma clara y accionable en 1-3 frases.',\n  'Si hay duda entre areas, usa Personal. Si es una idea suelta, usa Ideas.'\n].join(' ');\n\ntry {\n  const response = await fetch('https://api.openai.com/v1/chat/completions', {\n    method: 'POST',\n    headers: {\n      'Authorization': `Bearer ${openAiApiKey}`,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: 'gpt-4.1-nano',\n      temperature: 0.1,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: system },\n        { role: 'user', content: message }\n      ]\n    })\n  });\n\n  const data = await response.json();\n  if (!response.ok) return fallback(`openai_http_${response.status}`);\n\n  const content = data.choices?.[0]?.message?.content || '{}';\n  const parsed = JSON.parse(content);\n  const titulo = String(parsed.titulo || parsed.title || message).trim().slice(0, 80) || 'Mind Drop';\n  const area = cleanArea(parsed.area);\n  const observaciones = String(parsed.observaciones || parsed.notes || parsed.observation || message).trim();\n\n  return [{\n    json: {\n      ...$json,\n      titulo,\n      area,\n      observaciones,\n      aiModel: 'gpt-4.1-nano'\n    }\n  }];\n} catch (error) {\n  return fallback(error.message || 'openai_error');\n}"
      },
      "id": "6d0be63b-d7cd-4f45-bf65-df941d43038a",
      "name": "AI classify drop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        20
      ]
    },
    {
      "parameters": {
        "title": "={{ $json.titulo }}",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "a3251e4bbb7f4f0bb70e81ffdd16eb0e"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Titulo|title",
              "title": "={{ $json.titulo }}"
            },
            {
              "key": "Area|select",
              "selectValue": "={{ $json.area }}"
            },
            {
              "key": "Observaciones|rich_text",
              "textContent": "={{ $json.observaciones }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dbcaee5d-ea46-4e43-b59d-74243783ba84",
      "name": "Create Mind Drop row",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        380,
        20
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    status: 'ok',\n    reply: `Guardado en Mind Drop: ${$json.Titulo || $json.titulo || 'nuevo drop'}.`,\n    notionPageId: $json.id || '',\n    area: $json.Area || $json.area || ''\n  }\n}];"
      },
      "id": "5a23cf31-a74e-41c5-9c32-6207b2bb7af3",
      "name": "Build OK response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        20
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "4688cb98-49f6-42c5-a84c-8ee2bca2606d",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: false,\n    revoked: true,\n    status: 'revoked',\n    reply: 'Token revocado o invalido.'\n  }\n}];"
      },
      "id": "de8a7a05-931e-45cb-8cef-4a5b220d95b5",
      "name": "Build Revoked response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 403
        }
      },
      "id": "4f8d0560-18ef-4599-861e-b4fbbdb3081c",
      "name": "Respond Revoked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Rabbit R1 Webhook": {
      "main": [
        [
          {
            "node": "Validate Rabbit token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Rabbit token": {
      "main": [
        [
          {
            "node": "Token valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token valid?": {
      "main": [
        [
          {
            "node": "AI classify drop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Revoked response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI classify drop": {
      "main": [
        [
          {
            "node": "Create Mind Drop row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Mind Drop row": {
      "main": [
        [
          {
            "node": "Build OK response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OK response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Revoked response": {
      "main": [
        [
          {
            "node": "Respond Revoked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccecb2dd-d569-4190-a55b-ce1a43fff059",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
